@charset "UTF-8";
* {padding:0;margin:0;color:#111;font-weight:300;font-size:12px;line-height:20px;}
a {color:#111;    text-decoration: none;}
.wrap {width:100%;max-width:800px;margin:0 auto;padding-top:50px;}
h2 {text-align:center;font-size:24px;margin-bottom:50px;}
.btn {border:0;background:#eee;height:30px;line-height:30px;display:inline-block;padding:0 10px;box-sizing:border-box;}

#pw_ck {display:none;position: fixed;top: 50%;left: 50%;background: #eee;padding: 0;transform: translate(-50%, -50%);border-radius: 6px;width:50%;min-width:400px;border: 1px solid #111;}
#pw_ck .top {padding: 8px 15px;font-weight:bold;overflow:hidden;border-bottom: 1px solid #fff;background: #7e9394;color: #fff;}
#pw_ck .top a {float:right;color: #fff;}
#pw_ck .con {padding:20px 50px;/* overflow: hidden; */}
.btn.btn_pw {background: #7e9394;color: #fff;}
.list_wrap {padding-top: 50px;margin-top: 50px;border-top: 1px dotted #999;}
.list_wrap input[name="name"] {border:0;}
.list_wrap .list {margin-bottom:100px;}
.list_wrap .list tr.on #pw_ck {display:block;overflow: hidden;}
.list_wrap .list tr th {border-bottom: 1px solid #999;border-top: 1px solid #999;padding:5px;text-align:left;}
.list_wrap .list tr td {border-bottom: 1px solid #999;padding:8px 5px;}
.list_wrap .list tr .con_tit,
.list_wrap .list tr .con_tx {display:block;height:30px;line-height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:100%}


input {border-radius:0;border:1px solid #999;height:30px;box-sizing:border-box;padding:0 5px;max-width:100%;}
table {width:100%;border-padding:0;border-spacing:0;coll-spacing:0;table-layout: fixed;}
textarea {resize:none;height:200px;width:100%;border-radius:0;border:1px solid #999;overflow:auto;box-sizing:border-box;padding:0 5px;}
.contentbox {resize:none;height:200px;width:100%;border-radius:0;border:1px solid #999;overflow:auto;padding:5px;}

.questbook_top input[name="name"] {width:60%;}
.questbook_top tr th ,
.questbook_top tr th label {font-weight:bold;}
.questbook_top tr th,
.questbook_top tr td {padding:5px 0;text-align:left;}

@media screen and (max-width: 768px) {
	.wrap {width:80%}
}